@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: Palatino Linotype;
  font-display: swap;
  src: url("../fonts/pala.woff") format("woff"), url("../fonts/pala.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Palatino Linotype;
  font-display: swap;
  src: url("../fonts/palab.woff") format("woff"), url("../fonts/palab.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Bodoni Classic Swashes;
  font-display: swap;
  src: url("../fonts/Bodoni Classic Swashes Roman.woff") format("woff"), url("../fonts/Bodoni Classic Swashes Roman.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Sevillana;
  font-display: swap;
  src: url("../fonts/Sevillana-Regular.woff") format("woff"),
    url("../fonts/Sevillana-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


.mobile-menu,
.menu-btn {
  display: none;
}

.header {
  background-color: #0b0b0b;
  max-width: 100%;
  margin: auto;
}

.logo {
  text-align: center;
}

.logo-img {
  max-width: 438px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header-menu {
  max-width: 1140px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 40px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu ul li a {
  color: #fffafa;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header-menu ul li a:hover {
  color: #b72117;
}

.header-menu ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 180px;
  text-align: center;
}

.header-menu ul li:last-child {
  margin-right: 0px;
}

.footer {
  max-width: 100%;
  width: 100%;
  margin: auto;
  background-image: url("../img/footer.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
  padding: 41px 15px 0 15px;
}

.footer-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.stiky {
  max-width: 250px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.stiky-menu {
  margin-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.header {
  height: 239px;
}

.header-wrap {
  position: fixed;
  background-color: #0b0b0b;
  top: 0;
  max-width: 100%;
  width: 100%;
  margin: auto;
  z-index: 20;
}

.background_black {
  background-color: #0b0b0b;
}

.border_brown {
  border-bottom: 2px solid #964f00;
  position: relative;
}

.border_brown::after {
  content: url("../img/PolygonBrown.svg");
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -7px;
}

.first-screen {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../img/fs-bg.svg);
  background-repeat: no-repeat;
  padding-bottom: 80px;
}

.page_container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.first-screen-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.first-screen__img {
  -webkit-box-shadow: 4px 4px 28px 0px rgba(0, 0, 0, 0.57);
          box-shadow: 4px 4px 28px 0px rgba(0, 0, 0, 0.57);
  max-width: 540px;
  width: 100%;
  max-height: 360px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-screen__text {
  max-width: 486px;
}

.first-screen__h1 {
  color: #964f00;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 35px;
}

.first-screen__p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.articles {
  max-width: 100%;
  margin: auto;
  background-color: #0b0b0b;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.article__text {
  max-width: 538px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__h2 {
  color: #964f00;
  font-size: 38px;
  font-weight: 400;
}

.article__desc {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  max-width: 486px;
}

.article__button {
  color: #b8b7b7;
  text-shadow: 0px 0px 9px rgba(97, 7, 1, 0.5);
  font-family: Palatino Linotype;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border-radius: 4px;
  border: 1px solid rgba(97, 7, 1, 0.44);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(228, 35, 11, 0.2)), to(rgba(228, 35, 11, 0.2))), url(../img/button-red.svg);
  background: linear-gradient(0deg, rgba(228, 35, 11, 0.2) 0%, rgba(228, 35, 11, 0.2) 100%), url(../img/button-red.svg);
  -webkit-box-shadow: 0px 0px 19px 0px rgba(97, 7, 1, 0.71);
          box-shadow: 0px 0px 19px 0px rgba(97, 7, 1, 0.71);
  background-repeat: no-repeat;
  width: 158px;
  padding: 18px 32px;
}

.article__button:hover {
  color: #b8b7b7;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(196, 50, 40, 0.5);
          box-shadow: 0px 0px 19px 0px rgba(196, 50, 40, 0.5);
}

.article__img {
  width: 540px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.breadcrumps {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 75px;
  font-size: 13px;
}

.breadcrumps span {
  margin-left: 5px;
}

.breadcrumps-link {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  margin-right: 5px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.policy-content {
  color: #fff;
  line-height: 27px;
}

.policy-h1 {
  color: #964f00;
  font-size: 50px;
  font-weight: 400;
}

.policy-h2 {
  color: #964f00;
  font-size: 40px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 33px;
}

.policy-text {
  color: #fff;
  font-family: Palatino Linotype;
  font-size: 20px;
  font-weight: 400;
}

.policy-text span {
  color: #964f00;
}

.persole_style {
  margin-top: 70px;
}

li.policy-text {
  list-style-type: disc;
  margin-left: 25px;
}

.policy-text_pb {
  padding-bottom: 80px;
}

.full_height {
  min-height: 100%;
  background-color: #0b0b0b;
}

.policy-h1_mb {
  margin-bottom: 50px;
  margin-left: 10px;
}

.policy-text a {
  color: #fd2a1c;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.black-abs {
  position: relative;
}

.black-abs::after {
  content: url(../img/PolygonBlack.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: -2px;
}

.breadcrumps_black,
.breadcrumps-link_black {
  color: #000;
}

.breadcrumps_black {
  padding-bottom: 50px;
}

.article-title {
  padding-bottom: 20px;
}

.article-title__h1 {
  color: #964f00;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.article-title__author {
  color: #000;
  font-family: Palatino Linotype;
  font-size: 14px;
  font-weight: 700;
}

.tattoos-topic__title {
  color: #964f00;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 50px;
}

.tattoos-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.tattoos-content__text {
  max-width: 635px;
  color: #000;
  font-family: Palatino Linotype;
  font-size: 17px;
  font-weight: 400;
}

.tattoos-content__p {
  color: #000;
  font-family: Palatino Linotype;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.tattoos-content__img {
  width: 438px;
  height: 480px;
  -o-object-fit: cover;
  object-fit: cover;
}

.tattoos-topic-text {
  color: #000;
  font-family: Palatino Linotype;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.tattoos-topic-text li,
.tattoos-content__p li,
.tattoos-content-wrap li {
  line-height: 27px;
  list-style: disc;
  margin-left: 20px;
}

.tattoos-content__p {
  margin-bottom: 20px;
}

.tattoos-topic-text ul,
.tattoos-content-wrap ul {
  padding-bottom: 20px;
}

.tattoos-video iframe {
  max-width: 873px;
  width: 100%;
  margin: 0 auto;
  height: 491px;
}

.tattoos-video {
  max-width: 873px;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 60px;
}

.tattoos-related {
  max-width: 100%;
  background-color: #0b0b0b;
  padding-bottom: 70px;
}

.tattoos-related__h {
  color: #964f00;
  font-size: 40px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 60px;
}

.tattoos-related-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tattoos-related-container img {
  width: 300px;
  height: 293px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.tattoos-related-container p {
  max-width: 300px;
  color: #fff;
  text-align: center;
  font-family: Palatino Linotype;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.tattoos-related-container p:hover {
  color: #b72117;
}

body {
  font-family: Palatino Linotype, sans-serif;
}

h1,
h2 {
/*   font-family: Bodoni Classic Swashes Roman, sans-serif;
  font-family: Sevillana, cursive; */
  font-family: "Bodoni Classic Swashes", Sevillana, sans-serif;
}

a:hover {
  color: #b72117;
}

p {
  line-height: 27px;
}

@media (max-width: 1050px) {
  .first-screen-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
  }

  .first-screen__p {
    margin-bottom: 68px;
    text-align: center;
    max-width: 538px;
  }

  .first-screen__h1 {
    text-align: center;
    max-width: 538px;
  }

  .first-screen {
    background-image: none;
  }

  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .article:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .first-screen__text {
    width: 100%;
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../img/mob-fs-bg.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page_container-pc {
    padding: 0;
  }

  .article__h2 {
    margin-bottom: 30px;
  }

  .article__desc {
    margin-bottom: 30px;
  }

  .article__img {
    margin-bottom: 33px;
  }
}

@media (max-width: 1000px) {
  .tattoos-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tattoos-content__text {
    max-width: 100%;
  }

  .tattoos-content__img {
    margin-bottom: 24px;
  }

  .tattoos-related-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tattoos-related-container a {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .article__img {
    max-width: 540px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .header {
    height: 92px;
  }

  .header-menu {
    display: none;
  }

  .mobile-menu,
  .menu-btn {
    display: block;
  }

  .menu-btn {
    width: 25px;
    height: 25px;
    top: 33px;
    right: 20px;
    position: absolute;
    z-index: 20;
    overflow: hidden;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #964f00;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }

  /* Меню, которое будет появляться */

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: #131313;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 10;
  }

  .mobile-menu.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  /* Меняем гамбургер иконку, когда меню открыто */

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
        -ms-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
        -ms-transform: translate(-50%, 0%) rotate(-45deg);
            transform: translate(-50%, 0%) rotate(-45deg);
  }

  .menu-mob {
    text-align: center;
    padding-top: 50%;
    margin-bottom: 30px;
  }

  .menu__itemMob {
    color: #fffafa;
    font-size: 20px;
    font-weight: 700;
  }

  .menu-mob ul li {
    margin-bottom: 50px;
  }

  .logo-img {
    max-width: 216px;
  }

  .logo {
    text-align: left;
    padding: 0 15px;
    padding-bottom: 18px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer {
    height: 82px;
    padding-top: 27px;
  }

  .border_brown {
    display: none;
  }

  .policy-h1 {
    font-size: 30px;
  }

  .policy-h2 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .policy-text {
    font-size: 14px;
  }

  .breadcrumps {
    padding-bottom: 50px;
  }

  .persole_style {
    margin-top: 35px;
  }

  .breadcrumps,
  .breadcrumps-link {
    font-size: 10px;
  }

  .policy-h1_mb {
    margin-bottom: 35px;
  }

  .black-abs {
    display: none;
  }

  .article-title__h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .article-title__author {
    font-size: 10px;
  }

  .tattoos-topic__title {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .tattoos-topic-text,
  .tattoos-content__p,
  .tattoos-content-wrap li {
    line-height: 24px;
    font-size: 14px;
  }

  .tattoos-topic-text ul,
  .tattoos-content-wrap ul {
    padding-bottom: 16px;
  }

  .tattoos-topic-text li,
  .tattoos-content__p li,
  .tattoos-content-wrap li {
    margin-left: 15px;
    line-height: 24px;
  }

  .tattoos-content__p {
    margin-bottom: 16px;
  }

  .tattoos-video iframe {
    height: 350px;
  }

  .tattoos-video {
    margin-top: 30px;
    margin-bottom: 47px;
  }

  .tattoos-related__h {
    font-size: 25px;
    padding-top: 35px;
    padding-bottom: 38px;
  }

  .tattoos-related-container p {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  p {
    line-height: 24px;
  }

  .first-screen__h1 {
    font-size: 30px;
  }

  .article__h2 {
    font-size: 26px;
  }

  .first-screen__h1 {
    max-width: 278px;
  }

  .first-screen__p {
    max-width: 320px;
  }

  .first-screen__p,
  .article__desc {
    font-size: 14px;
    line-height: 24px;
  }

  .article__button {
    max-width: 118px;
    font-size: 15px;
    padding: 13px 20px;
    background-size: cover;
  }

  .first-screen__img {
    padding: 0 15px;
  }

  .tattoos-content__img {
    max-width: 438px;
    width: 100%;
    max-height: 480px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 460px) {
  .footer {
    padding-top: 18px;
  }
}
